# Python bytecode
*.pyc
__pycache__/

# Virtual environment
venv/
env/
*.egg-info/
.Python

# SQLite database
db.sqlite3

# Django migrations (keep the `migrations` directory but exclude logs)
*.log
migrations/

# Static files
static/

# Media files
media/

# Environment variables
.env

# IDE and editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# System-specific files
.DS_Store
Thumbs.db

# PyCharm project settings
*.iml
